body {
  margin: 0;
}
div.body {
  margin: 100px;
  margin-bottom: 500px;
  margin-top: 200px;
}
div.skills {
  float: left;
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
h2.skills {
  font-family: Dosis, sans-serif;
}
div.skill {
  font-family: Calibri, sans-serif;
  color: rgb(230, 74, 74);
  padding: 10px;
}
div.education {
  float: right;
  width: 50%;
  background-color: white;
  color: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
h2.education {
  font-family: Dosis, sans-serif;
  font-size: 35px;
  font-weight: bold;
}
div.educations {
  font-family: Calibri, sans-serif;
  color: rgb(230, 74, 74);
  padding: 10px;
}
div.experience {
  width: 100%;
  border: 5px solid;
  border-color: rgb(75, 75, 75);
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}
h2.experience {
  font-family: Dosis, sans-serif;
}
div.experiences {
  font-family: Calibri, sans-serif;
  color: rgb(230, 74, 74);
  padding: 10px;
}
