body {
  margin: 0;
}
div.body {
  margin-top: 200px;
  margin-bottom: 150px;
  font-family: Dosis, sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.name {
  padding-top: 10px;
  padding-bottom: 2px;
}
.phone {
  padding-top: 10px;
  padding-bottom: 2px;
}
.email {
  padding-top: 10px;
  padding-bottom: 2px;
}
.description {
  padding-top: 10px;
  padding-bottom: 2px;
}
.my-form input[type="text"],
.my-form textarea {
  width: 50%;
  padding: 5px;
}
.my-form input[type="description"],
.my-form textarea {
  width: 100%;
  padding-bottom: 40px;
}
.my-form input[type="submit"] {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  display: flex;
  margin-top: 20px;
  padding: 10px 15px;
  border: 50px;
}
