* {
  margin: 4px;
  padding: 0;
  box-sizing: border-box;
  background-color: #f3eed9;
}
.page--container {
  max-width: auto;
  margin: 0 auto;
}
.body--container {
  margin: 3em;
  max-width: 100%;
}
.home--grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.project--grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.about--grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
h1 {
  font-size: 110%;
  font-family: Calibri, sans-serif;
  text-shadow: 0 1px 0 rgb(184, 184, 184), 0 2px 0 #9b9b9b,
    0 3px 0 rgb(105, 105, 105), 0 4px 0 #555555;
}
h2 {
  color: rgb(114, 114, 114);
  font-family: Tisa, sans-serif;
  text-shadow: 1.5px 2px 0px rgb(187, 187, 187);
}
/* Navigation Bar */

.nav--header {
  list-style-type: none;
  width: 100%;
  height: 70px;
  margin-bottom: 0%;
  top: 0;
  border: 0.5px solid #707070;
  box-shadow: 4px 4px 0px 0px #e85656;
  position: relative;
  text-decoration: none;
  color: white;
  background-color: #670000;
}
.logo--header {
  width: 100px;
  height: 100px;
  margin: 10px;
  padding-bottom: 10px;
  background-color: transparent;
}
.links--header {
  font-size: 35px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: transparent;
}
ul {
  background-color: #670000;
}
.nav--links {
  display: inline-block;
  padding-bottom: 12.5px;
  background-color: #670000;
}
.links--header a:hover {
  cursor: pointer;
  transition: all 0.3s ease 0.1s;
  transform: scale(1.1);
  color: #e85656;
}
.links--header a {
  font-family: "Lekton", sans-serif;
  font-size: 15px;
  color: #f3eed9;
  border: none;
  outline: none;
  box-shadow: none;
  text-decoration: none;
  cursor: pointer;
  background-color: #670000;
}
.checkbtn {
  font-size: 30px;
  color: #f3eed9;
  background-color: transparent;
  float: right;
  line-height: 30px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

/* HomePage */
.group--missionstatement {
  width: 100%;
  padding: 10px;
}

.text--name {
  font-family: "Lekton", sans-serif;
  font-size: 20px;
  color: #e85656;
  padding-top: 30px;
}
.text--missionstatement {
  font-family: "Lekton", sans-serif;
  font-size: 20px;
  color: #e85656;
}

/* Projects Page */

.pagetitle--projects {
  color: rgb(75, 75, 75);
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 0px 0px 20px;
}
.group--websites {
  font-family: Dosis, sans-serif;
  border: 2px solid;
  width: 100%;
  height: 300px;
  padding: 5%;
  margin-top: 5%;
  border-color: lightcoral;
  color: white;
  border-radius: 5px;
}
.group--games {
  font-family: Dosis, sans-serif;
  border: 2px solid;
  width: 100%;
  height: 300px;
  padding: 5%;
  margin-top: 5%;
  border-color: lightcoral;
  color: white;
  border-radius: 5px;
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
}
.group--software {
  font-family: Dosis, sans-serif;
  border: 2px solid;
  width: 100%;
  height: 300px;
  padding: 5%;
  margin-top: 5%;
  border-color: lightcoral;
  color: white;
  border-radius: 5px;
}

/* About Page */

.pagetitle--about {
  color: #670000;
  font-size: 35px;
  font-family: "Lekton", sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 0px 0px 10px;
}
.btn--resume {
  text-align: center;
  padding-bottom: 70px;
}
.get--resume [type="submit"] {
  width: 100px;
  background-color: #e85656;
  font-size: 16px;
  font-family: "Lekton", sans-serif;
  border: 3px solid #670000;
  border-radius: 10px;
  text-decoration: none;
  color: #f3eed9;
  outline: none;
}
.get--resume:hover [type="submit"] {
  color: rgb(105, 105, 105);
  cursor: pointer;
}
.group--skills {
  width: 100%;
  border: 5px solid;
  border-color: #670000;
  border-radius: 20px;
  background-color: #e85656;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.title--skills {
  font-family: "Timmana", sans-serif;
  font-size: 30px;
  background-color: #e85656;
  color: #f3eed9;
}
.list--skills {
  font-family: "Lekton", sans-serif;
  color: #670000;
  padding: 10px;
  background-color: #e85656;
}
.skill--type {
  font-size: 20px;
  font-family: "Timmana", sans-serif;
  color: #f3eed9;
  background-color: #e85656;
}
.skill--coding {
  background-color: #e85656;
  text-indent: 15px;
}
.skill--design {
  background-color: #e85656;
  text-indent: 15px;
}
#Python {
  display: inline-block;
  width: 4.5%;
  box-shadow: 0px 0px 0px 5px #f3eed9;
  opacity: 75%;
}
#Java {
  display: inline-block;
  width: 4.5%;
  box-shadow: 0px 0px 0px 5px #f3eed9;
  opacity: 75%;
}
#HTML {
  display: inline-block;
  width: 4.5%;
  box-shadow: 0px 0px 0px 5px #f3eed9;
  opacity: 75%;
}
#Css {
  display: inline-block;
  width: 4.5%;
  box-shadow: 0px 0px 0px 5px #f3eed9;
  opacity: 75%;
}
#JavaScript {
  display: inline-block;
  width: 4.5%;
  box-shadow: 0px 0px 0px 5px #f3eed9;
  opacity: 75%;
}
.box--one {
  border-radius: 50px;
  background-color: #670000;
}
.box--two {
  border-radius: 50px;
  background-color: #670000;
}
.box--three {
  border-radius: 50px;
  background-color: #670000;
}
.box--four {
  border-radius: 50px;
  background-color: #670000;
}
.box--five {
  border-radius: 50px;
  background-color: #670000;
}
.group--experience {
  width: 100%;
  border: 5px solid;
  border-color: #670000;
  background-color: #e85656;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}
.title--experience {
  font-family: "Timmana", sans-serif;
  font-size: 25px;
  background-color: #e85656;
  color: #f3eed9;
}
.list--experiences {
  font-family: "Lekton", sans-serif;
  color: #670000;
  background-color: #e85656;
  padding: 5px;
}
.experience {
  background-color: #e85656;
  text-indent: 15px;
}
/* Contact Page*/
.contactpage--container .body--container {
  padding: 5%;
}
.pagetitle--contact {
  color: black;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 0px 0px 20px;
}
.title--name {
  font-size: 20px;
  font-family: Calibri, sans-serif;
}
.title--phone {
  font-size: 20px;
  font-family: Calibri, sans-serif;
}
.title--email {
  font-size: 20px;
  font-family: Calibri, sans-serif;
}
.title--description {
  font-size: 20px;
  font-family: Calibri, sans-serif;
}
.my--form input[type="text"],
.my--form textarea {
  border: 2px solid lightcoral;
  border-radius: 10px;
  text-indent: 3%;
  outline: none;
  width: 30%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.my--form input[type="description"],
.my--form textarea {
  border: 2px solid lightcoral;
  border-radius: 10px;
  text-indent: 2%;
  outline: none;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 40px;
}
.my--form input[type="submit"] {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 15px;
  padding-left: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
}
.my--form input:hover[type="submit"] {
  color: rgb(230, 74, 74);
  transition: all 0.3s ease 0.1s;
  transform: scale(1.1);
  cursor: pointer;
}

/* Footer */
.main--footer a {
  font-family: "Lekton", sans-serif;
  font-weight: bold;
  color: #f3eed9;
  text-decoration: none;
  background-color: #670000;
}

.main--footer {
  color: #670000;
  font-family: "Lekton", sans-serif;
  font-size: 75%;
  background-color: #670000;
  bottom: 0%;

  border: 1px solid #707070;
  position: relative;
  width: 100%;
  height: 70px;
  text-align: center;
  text-decoration: none;
}
li {
  display: inline-block;
  background-color: #670000;
}
.main--footer a:hover {
  color: #e85656;
}
.copyright {
  background-color: #670000;
  color: #e85656;
}
@media (max-width: 952px) {
  .logo--header {
    font-size: 5px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
}
/* Tablets and under */
@media (max-width: 768px) {
  .home--grid,
  .project--grid,
  .about--grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
@media (max-width: 500px) {
  .nav--header {
    height: 110px;
  }
  .logo--header {
    margin-top: 20%;
  }
  .links--header {
    flex-direction: column;
    justify-content: space-around;
    background-color: transparent;
  }
  .links--grid a {
    display: flex;
    background-color: transparent;
  }
}
