body {
  margin: 0;
}
div.body {
  margin: 100px;
  margin-bottom: 500px;
  margin-top: 250px;
}
div.missionstatement {
  width: 30%;
  padding: 10px;
  margin-bottom: 500px;
  border-radius: 20px;
  box-sizing: border-box;
}
h2.missionstatement {
  font-family: Dosis, sans-serif;
  font-weight: bold;
  font-size: 30px;
}
p.missionstatement {
  font-family: Calibri, sans-serif;
  font-size: 20px;
  color: rgb(230, 74, 74);
  padding-top: 30px;
}
hr.solidline {
  border-top: 3px solid rgb(230, 74, 74);
  border-left: transparent;
  border-right: transparent;
  border-bottom: transparent;
  padding-bottom: 30px;
  margin-bottom: 50px;
}
div.specilizations {
  width: 30%;
  margin-left: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
h2.specilizations {
  font-family: Dosis, sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin: auto;
}
p {
  font-family: Calibri, sans-serif;
  font-size: 20px;
  color: rgb(230, 74, 74);
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
@media screen and (min-width: 601px) {
  div.body {
    font-size: 80px;
  }
}
@media screen and (max-width: 600px) {
  div.body {
    font-size: 30px;
  }
}
