* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div.header {
  list-style-type: none;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  top: 0;
  transition: all 0.3s ease 0s;
  position: fixed;
  overflow: hidden;
  background-color: rgb(211, 86, 86);
}
li {
  display: inline-block;
  background-color: transparent;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
}
div.header #logo {
  font-family: Calibri, sans-serif;
  cursor: pointer;
  font-size: 60px;
  font-weight: bold;
  color: white;
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}
nav.header-right {
  float: right;
  margin-top: 10px;
  margin-right: 5%;
}
button:hover {
  cursor: pointer;
  transition: all 0.3s ease 0.1s;
  transform: scale(1.1);
  color: rgb(75, 75, 75);
}
button {
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button.home {
  font-family: Tisa, Calibri, sans-serif;
  font-size: 15px;
  font-weight: bold;
  background-color: transparent;
  border: transparent;
  padding: 8px;
  outline: none;
}
button.projects {
  font-family: Tisa, Calibri, sans-serif;
  font-size: 15px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  padding: 8px;
  outline: none;
}
button.about {
  font-family: Tisa, Calibri, sans-serif;
  font-size: 15px;
  font-weight: bold;
  background-color: transparent;
  border: transparent;
  padding: 8px;
  outline: none;
  box-shadow: none;
}
button.contact {
  font-family: Tisa, Calibri, sans-serif;
  font-size: 15px;
  font-weight: bold;
  background-color: transparent;
  border: transparent;
  padding: 8px;
  outline: none;
  box-shadow: none;
}
footer a {
  font-family: Tisa, Calibri, sans-serif;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
footer.main-footer {
  background-color: rgb(75, 75, 75);
  font-family: Calibri, sans-serif;
  bottom: 0;
  top: 99%;
  border: transparent;
  position: fixed;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  height: auto;
  color: rgb(230, 74, 74);
}
